 <title>Shared Todo</title> 
 <h1>Shared Todo App</h1> <p>All your todos here</p> 
 <ul>
  <% @todo_array.each do |t| %>
   <li>Buy Milk </li>
   <li>Buy Soap</li>
   <li>Pay Bill</li>
   <li>Draw Money</li>
   <% end %>
</ul>